<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSLearnTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>525022451B99DEE000FB41AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5250225E1B99DEE100FB41AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525022691B99DEE100FB41AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
